<!-- page container -->
<div class="container mb-4">
  <!-- page title -->
  <div class="row d-flex justify-content-center my-4">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 text-center">
      <h1 class="title">Editar perfil de <%= current_user.nick %></h1>
    </div>
  </div>
  <!-- form container -->
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Aguardando confirmação de: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :nick,
                    label: "Nickname",
                    required: false,
                    autofocus: true %>
        <%= f.input :photo,
                    label: "Carregar foto",
                    required: false,
                    autofocus: true,
                    as: :file %>
        <%= f.input :password,
                    label: "Nova senha",
                    hint: "Caso não queira mudar, é só deixar em branco.",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirme a nova senha",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    label: "Sua senha atual",
                    hint: "Precisamos da sua senha atual para confirmar as mudanças.",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Atualizar", class: 'my-4 btn btn-lg btn-primary btn-block' %>
      </div>
      <% end %>
    </div>
  </div>
  <!-- end form container -->
  <div class="row d-flex justify-content-center my-4">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 text-center">
      <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar?" }, method: :delete, class: 'btn btn-warning' %>
    </div>
  </div>
</div>
<!-- end container -->
