<!-- page container -->
<div class="container mb-4">
  <!-- page title -->
  <div class="row d-flex justify-content-center my-4">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 text-center">
      <h1 class="title">Editar <%= resource_name.to_s.humanize %></h1>
    </div>
  </div>
  <!-- form container -->
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Atualizar", class: 'my-4 btn btn-lg btn-primary btn-block' %>
      </div>
      <% end %>
    </div>
  </div>
  <!-- end form container -->
  <div class="row d-flex justify-content-center my-4">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 text-center">
      <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar?" }, method: :delete, class: 'btn btn-warning' %>
    </div>
  </div>
</div>
<!-- end container -->
