<%= hidden_field_tag "user_id", current_user.id if current_user %>
<%= hidden_field_tag "movie_id", @movie.id %>
<!-- page container -->
<div class="container mb-4">
  <!-- page title -->
  <div class="row my-4">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <%= image_tag @movie.image_url, class: "img-fluid" %>
      <%= link_to @movie.link, class: 'btn btn-lg btn-block btn-primary my-2', target: :_blank do %>
        Assistir em <%= @movie.platform %><i class="icon fas fa-play"></i>
      <% end %>
       <%= link_to "Favoritar","javascript:;", id:"favoritar", class: 'btn btn-lg btn-block btn-primary my-2' if current_user %>


    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-8">
      <h1 class="title"><%= @movie.name %></h1>
      <p class="small">Ano: <%= @movie.year %> | País: <%= @movie.country %> | Pontuação IMDb: <%= @movie.imdb_score/10.to_f %> | Duração: <%= @movie.duration %> min. | Gênero: <%= @movie.genre.name %></p>
      <p class="lead"><%= @movie.description %></p>
      <div class="row d-flex align-items-center my-4">
        <div class="col-2 col-md-4 col-lg-2">
          <%= cl_image_tag @movie.director.photo.key, width: 200, height: 200, crop: :fill, class: 'img-fluid rounded-circle' %>
        </div>
        <div class="col-10 col-md-8 col-lg-10">
          <small>Dirigido por:</small>
            <h4><%= @movie.director.name %></h4>
        </div>
      </div>
        <iframe id="player" src='https://www.youtube.com/embed/<%= @movie.trailer_url.split(/v=(\w*)&?/)[1] %>' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>
 </div>
<!-- end container -->
