<div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center" data-user=<%= user.id %>>
  <%= link_to user_path(user) do %>
    <% if user.photo.attached? == true %>
      <%= cl_image_tag user.photo.key, height: 400, width: 400, crop: :fill, class: "avatar-profile mb-3" %>
    <% else %>
      <%= image_tag "blank-profile-picture-973460_1280.jpg", class: "avatar-profile mb-3" %>
    <% end %>
    <h2 class="title mb-2"><%= user.nick %></h2>
    <div class="row d-flex justify-content-center mb-2">
      <% if current_user.is_following?(user.id) %>
        <%= link_to unfollow_user_path(user.id), method: :post, remote: true, :class => "btn btn-primary btn-sm my-2" do %>
        Deixar de seguir <i class="fas fa-user-times mx-1"></i>
        <% end %>
      <% else %>
        <%= link_to follow_user_path(user.id), method: :post, remote: true, :class => "btn btn-warning btn-sm my-2" do %>
        Seguir <i class="fas fa-user-check mx-1"></i>
        <% end %>
      <% end %>
    </div>
    <div class="row d-flex justify-content-center mb-4">
      <p class="small mr-1">Seguidores <span class="badge badge-pill badge-dark ml-1"><%= user.followers.count %></span></p>
      <p class="small mr-1">Seguindo <span class="badge badge-pill badge-dark ml-1"><%= user.following.count %></span></p>
    </div>
  <% end %>
</div>
