<!-- app/views/users/_user.html.erb -->
  <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <%= cl_image_tag(user.photo, height: 80, width: 128, crop: :fill) %>
        </div>
        <div class="col-sm-3">
          <h4>@<%= user.nick %> </h4>
        </div>

      <div class="col-sm-3">
        <div class="row">
          <div class="col">
            <a><%= user.followers.count %></a><br class="seg">Seguidores</br>
          </div>
          <div class="col">
            <a><%= user.following.count %></a><br class="seg">Seguindo</br>
            </div>
                <% if current_user.is_following?(user.id) %>
                  <%= link_to "Unfollow", unfollow_user_path(user.id), method: :post, remote: true, :class => "btn btn-secondary w-100" %>
                <% else %>
                <%= link_to "Follow", follow_user_path(user.id), method: :post, remote: true, :class => "btn btn-primary w-100" %>
                <% end %>
            </div>
          </div>
      <div class="col-sm-2 img_container">
        <div class="popup" onclick="myFunction()"><i class="fas fa-heart"></i>
         <span class="popuptext" id="myPopup"><%= user.email%></span>
        </div>
      </div>
     </div>
  </div>

  <script>
      // When the user clicks on <div>, open the popup
      function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
      }
  </script>




