<div class="card-element mb-4">
  <!-- play poster -->
  <div class="card-play-wrap">
    <%= link_to movie.link, target: :_blank do %>
      <%= image_tag movie.image_url, class: 'card-thumb' %>
      <div class="card-play"><i class="fas fa-play"></i></div>
    <% end %>
  </div>
  <!-- end play poster -->
  <div class="card-info">
    <h2 class="mb-2 title"><%= link_to movie.name, movie_path(movie) %></h2>
    <div class="movie-data mb-3"><span class="small mr-2 text-white"><%= movie.platform %></span><span class="small mr-2"><%= movie.year %></span><span class="small mr-2"><%= movie.genre.name %></span><span class="small"><%= movie.duration %> min.</span></div>
    <div class="d-flex justify-content-between">
      <%= link_to 'Leia mais', movie_path(movie), class: 'text-uppercase badge badge-primary'%>
      <div class="d-flex">
      <%= link_to current_user.favorited?(movie) ? "<i class='fas fa-star d-flex' data-fav='#{favorite}'></i>".html_safe : "<i class='far fa-star d-flex' data-fav='#{favorited}'></i>".html_safe, set_favorite_movie_path(movie_id: movie.id), remote: true, class: 'star-link', id: "favoritar#{movie.id}" if user_signed_in? %>
      </div>
      <%#= link_to 'Editar', edit_movie_path(movie), class: 'text-uppercase badge badge-dark'%>
    </div>
  </div>
</div>
